#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.mdf
*.ldf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
#[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet

Solution/packages/*
Source/NetworkOnline/packages/*

Ninja.Database/Ninja.Database.dbmdl
Ninja.Database/Ninja.Database.dbproj.schemaview
OnCheckin.Website/logs/*
OnCheckin.Website/logs

*.dbmdl
Source/NetworkOnline/packages/
Source/NetworkOnline/UnitTests/Acp.Applications.NetworkOnline.UnitTests.dll.VisualState.xml
#PsakeFreaker
Source/NetworkOnline/_deploymentPackage*/

Source/NetworkOnline/WebApplication.Cms/Scripts/app/*.js
Source/NetworkOnline/WebApplication.Cms/Scripts/app/news/*.js
Source/NetworkOnline/WebApplication.Cms/Scripts/app/common/*.js
Source/NetworkOnline/WebApplication.Cms/Scripts/app/notes/*.js
*.map
Source/NetworkOnline/WebApplication/Uploads/
